.Card {
  border-radius: 8px;
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  display: flex;
  align-items: center;
  margin: 7vw 0;
  padding: 3vw 0;
  position: relative;
  opacity: 1;
}

.Card--Done {
  background: rgba(0, 7, 11, 0.455);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

.Card--Undone {
  background: rgba(20, 40, 50, 0.5);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}

.CardPriority {
  width: 4vw;
  height: 4vw;
  margin: 0 2.5vw 0 14.5vw;
  border-radius: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

.CardPriorityLow {
  background: #008cff;
}
.CardPriorityMedium {
  background: #00d5ff;
}
.CardPriorityHigh {
  background: #bb00ff;
}

.CardText {
  width: 62%;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.CardText--Done {
  opacity: 0.5;
  text-decoration: line-through;
}

@media screen and (min-width: 1099px) {
  .Card {
    width: 100%;
    margin: 1vw 0;
    padding: 1vw 0;
  }

  .Card--Done {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  }

  .Card--Undone {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  }

  .CardPriority {
    width: 0.7vw;
    height: 0.7vw;
    margin: 0 0.7vw 0 4vw;
    border-radius: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.5);
  }

  .CardText {
    width: 72%;
    font-size: 14px;
  }
}
