.ModalBg {
  width: auto;
  height: calc(100vh);
  bottom: 0;
  background: rgb(101, 31, 158);
  background: linear-gradient(130deg, rgb(77, 41, 106) 8%, rgb(29, 22, 77) 55%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);

  z-index: 3;
  transition: 0.8s;
  will-change: transform;
}

.ModalBg--Opened {
  transform: translateY(0);
}

.ModalBg--Closed {
  transform: translateY(105vh);
}

@media screen and (min-width: 1099px) {
  .ModalBg {
    width: 30%;
    height: 32vw;
    bottom: auto;
    top: 5vw;
    left: 60%;
    padding: 2vw 0 0;
    border: none;
    border-radius: 8px;
    /* background: rgba(38, 30, 103, 1); */
    box-shadow: 0 2px 30px 7px rgba(0, 0, 0, 0.4),
      inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
  }

  .ModalBg--Opened {
    transform: translateY(0);
  }

  .ModalBg--Closed {
    transform: translateY(0);
  }
}
