.TodoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TodoFormIconContainer {
  width: 20vw;
  height: 20vw;
  margin: 0 0 5vw;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  border: 2px solid #00697e;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.TodoFormIcon {
  width: 60%;
}

.TodoForm-Label {
  width: 90%;
  font-weight: 600;
  font-size: 6.25vw;
  color: #ffffff;
}

.TodoForm-Text {
  width: 80%;
  height: 25vw;
  margin: 3vw 0 5vw;
  padding: 3vw 5vw;
  font-size: 5.625vw;
  resize: none;
  background-color: transparent;
  outline: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.0374);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 2px solid #8a8d8d;
  color: #ffffff;
}

.TodoForm-Text::placeholder {
  color: #ddd;
}

.TodoForm-Text:focus {
  border-color: #ffffff;
}

.TodoForm-PriorityContainer {
  width: 90%;
  margin: 0 0 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.TodoForm-PriorityLabel {
  width: 100%;
  color: #ffffff;
  margin: 0 0 0.7vw;
  font-size: 6.25vw;
  font-weight: 600;
}

.TodoForm-PriorityButton {
  width: 30%;
  padding: 1.5vw 0;
  border-radius: 4px;
  font-weight: 600;
  background: rgba(0, 7, 11, 0.455);
  border: 1px solid #444444;
  color: #bbbbbb;
  cursor: pointer;
  will-change: border color box-shadow;
  transition: 0.7s;
}

.TodoForm-PriorityButton--Low:hover,
.TodoForm-PriorityButton--Active1 {
  color: #ffffff;
  border: 1px solid #00ff9d;
  box-shadow: 0 0px 4px 3px rgba(0, 255, 213, 0.6);
}

.TodoForm-PriorityButton--Medium:hover,
.TodoForm-PriorityButton--Active2 {
  color: #ffffff;
  border: 1px solid #00d5ff;
  box-shadow: 0 0px 4px 3px rgba(0, 229, 255, 0.6);
}

.TodoForm-PriorityButton--High:hover,
.TodoForm-PriorityButton--Active3 {
  color: #ffffff;
  border: 1px solid #ff00ff;
  box-shadow: 0 0px 4px 3px rgba(187, 0, 255, 0.6);
}

.TodoForm-Button {
  width: 42%;
  height: 14vw;
  margin: 0 2vw;
  font-size: 6vw;
  font-weight: 600;
  border-radius: 6px;
  outline: none;
  border: none;
  color: #ffffff;
}

.TodoForm-Button--Back {
  background-color: rgba(255, 255, 255, 0.119);
}

.TodoForm-Button--Add {
  border: none;
  background: rgb(20, 120, 153);
}

@media screen and (min-width: 1099px) {
  .TodoForm {
    padding: 0 2vw;
    justify-content: flex-start;
  }

  .TodoFormIconContainer {
    width: 5vw;
    height: 5vw;
    margin: 0 0 1vw;
  }

  .TodoForm-Label {
    width: 100%;
    font-size: 1.2vw;
  }

  .TodoForm-Text {
    width: 100%;
    height: 5vw;
    margin: 1vw 0 1vw;
    padding: 1vw;
    font-size: 1vw;
  }

  .TodoForm-PriorityContainer {
    width: 100%;
    margin: 0 0 2vw;
    justify-content: space-between;
  }

  .TodoForm-PriorityLabel {
    margin: 0 0 1vw;
    font-size: 1.2vw;
  }

  .TodoForm-PriorityButton {
    width: 30%;
    padding: 0.5vw 0;
    border-radius: 4px;
  }

  .TodoForm-Button {
    width: 50%;
    height: 3vw;
    margin: 0;
    font-size: 1.3vw;
    cursor: pointer;
    transition: 0.3s;
    will-change: transform;
  }

  .TodoForm-Button--Add {
    margin-left: auto;
    background: #147899;
    border: 2px solid rgb(20, 120, 153);
  }

  .TodoForm-Button--Add:hover {
    background: #0a86af;
    border: 2px solid rgb(10, 134, 175);
  }

  .TodoForm-Button--Back {
    display: none;
  }
}
