.TodoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5vw;
}

.TodoForm-Label {
  width: 90%;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.TodoForm-Text {
  width: 80%;
  height: 25vw;
  margin: 3vw 0 7vw;
  padding: 3vw 5vw;

  font-size: 18px;
  resize: none;
  background-color: transparent;
  outline: none;
  background: rgba(0, 0, 0, 0.512);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 2px solid #2286b2;
  color: #ffffff;
}

.TodoForm-Text::placeholder {
  color: #ddd;
}

.TodoForm-Text:focus {
  border-color: #ffffff;
}

.TodoForm-Button {
  width: 42%;
  margin: 0 2vw;
  font-size: 6vw;
  font-weight: 600;
  height: 14vw;
  border-radius: 6px;
  outline: none;
  color: #ffffff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
}

.TodoForm-Button--Back {
  background-color: transparent;
  border: 2px solid #2286b2;
}

.TodoForm-Button--Add {
  background-color: #2ea5d7;
  border: 2px solid #2ea5d7;
}
