/* Fonts
font-family: 'Abel', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

* {
  font-family: "Quicksand", sans-serif;
}
