.TodoCounterContainer {
  height: 32vw;
  position: relative;
  background: transparent;
}

h1,
h2,
h3 {
  margin: 0 auto;
}

h1 {
  width: 90%;
  margin-top: 3vw;
  font-size: 8.125vw;
  display: flex;
  align-items: center;
  color: #ffffff;
}

h1 img {
  width: 15.625vw;
  margin-right: 2vw;
  transform: rotateZ(45deg);
}

.TodoCounter {
  width: 87%;
  color: #ffffff;
  margin: 0vw auto 2vw;
  font-size: 5.625vw;
  font-weight: 400;
  transition: 0.3s;
  will-change: opacity;
}

.TodoCounter--Loading {
  opacity: 0.3;
}

.TodoCounter span {
  width: 87%;
  font-size: 6.25vw;
  font-weight: 500;
}

@media screen and (min-width: 1099px) {
  .TodoCounterContainer {
    width: 35%;
    height: 7vw;
    margin: 2vw 0 0 10%;
    padding: 0;
  }

  h1 {
    font-size: 2vw;
    margin: 0;
  }

  h1 img {
    width: 4vw;
    margin-right: 0.5vw;
  }
  .TodoCounter {
    font-size: 1.3vw;
    margin: 0;
  }
  .TodoCounter span {
    width: 87%;
    font-size: 1.3vw;
    font-weight: 500;
  }
}
