.TodoCounterContainer {
  height: 32vw;
  position: relative;
  background: transparent;
}

h1,
h2,
h3 {
  margin: 0 auto;
}

h1 {
  width: 90%;
  margin-top: 3vw;
  font-size: 26px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

h1 img {
  width: 50px;
  margin-right: 6px;
  transform: rotateZ(45deg);
}

h2 {
  width: 87%;
  color: #ffffff;
  margin: 0vw auto 2vw;
  font-size: 18px;
  font-weight: 400;
}

h2 span {
  width: 87%;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 1099px) {
  .TodoCounterContainer {
    width: 40%;
    height: 7vw;
    margin: 2vw 0 0 10%;
    padding: 0;
  }

  h1 {
  }
  h2 {
    margin: 0 auto;
  }
}
