.TodoCounterContainer {
  padding: 5vw 0;
  position: relative;
  background: rgba(4, 22, 22, 0.8);
  backdrop-filter: blur(6.4px);

  border-bottom: 2px solid #0a91af;
}

h1,
h2,
h3 {
  margin: 0 auto;
}

h1 {
  width: 90%;
  font-size: 26px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

h1 img {
  width: 14vw;
  margin-right: 2vw;
  transform: rotateZ(45deg);
}

h2 {
  width: 87%;
  color: #cccccc;
  margin: 2vw auto;
  font-size: 18px;
  font-weight: 400;
}

h2 span {
  width: 87%;
  color: #ffffff;

  font-size: 20px;
  font-weight: 500;
}

/* h2 img {
  width: 8vw;
  margin-right: 2vw;
} */
