.SearchContainer {
  width: 90%;
  margin: 0vw auto 2vw;
  z-index: 2;
  display: flex;
  position: relative;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 2px solid #8a8d8d;
}

.SearchContainer input,
.SearchImageContainer {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.SearchContainer input {
  width: 75%;
  outline: none;
  padding: 3vw 5vw;
  font-size: 5vw;
  color: #ffffff;
  border: none;
  transition: 0.3s;
  will-change: opacity;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.SearchContainer input::placeholder {
  color: #ddd;
}

.SearchContainer input:disabled {
  opacity: 0.3;
}

.SearchImageContainer {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
}

.SearchImageContainer img {
  width: 40%;
}

@media screen and (min-width: 1099px) {
  .SearchContainer {
    width: 35%;
    height: 4vw;
    margin: 0 0 2vw 10%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  }

  .SearchContainer input {
    width: 90%;
    padding: 0vw 1vw;
    font-size: 1.3vw;
  }

  .SearchImageContainer {
    width: 10%;
  }
}
