.SearchContainer {
  width: 90%;
  margin: 0vw auto 2vw;
  z-index: 2;
  display: flex;
  position: relative;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.SearchContainer input,
.SearchImageContainer {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.SearchContainer input {
  width: 75%;
  outline: none;
  padding: 3vw 5vw;
  font-size: 20px;
  color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.SearchContainer input::placeholder {
  color: #ddd;
}

.SearchImageContainer {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.SearchImageContainer img {
  width: 55%;
}

@media screen and (min-width: 1099px) {
  .SearchContainer {
    width: 30%;
    margin: 0 0 2vw 12%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  }

  .SearchContainer input {
    width: 90%;
    padding: 0.5vw 1vw;
  }

  .SearchImageContainer {
    width: 10%;
  }
}
